pandas
numpy
edgartools
requests
datetime
boto3
hishel==0.0.30

# # Testing dependencies
# pytest>=7.4.0
# pytest-cov>=4.1.0
# pytest-mock>=3.11.0
# great-expectations>=0.18.0
# responses>=0.23.0
# mongomock>=4.1.3